h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.review{
    width:50%;
    height:50vh;
    margin:auto;
}
.container{
    width:100vw;
    height:100vh;
}